/* Backgroud */
body {
  background-image: url('/images/background.jpg');
  background-size: 100%;
  background-repeat: repeat;
  position: center;
  height: 100vh;
  margin: 0;
  /* pour éviter l'ascenseur */
  border: 1px solid transparent;
  box-sizing: border-box;
  text-align: center;
}

/* Title */
h1 {
  text-align: center;
  color: rgba(255,255,255,1.0);
  border: none
  box-shadow: none;
  background-color: rgba(0,0,0,0.3);
  border-top: 0px solid rgb(255, 30, 0);
  border-bottom: 0px solid rgb(255, 30, 0);
  border-left: 0px solid rgb(255,30,0);
  border-right: 0px solid rgb(255,30,0);
  margin-top: 1.33em;
  /* text-shadow: 3px 3px 3px black; */
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 1.33em;
}

/* Polices de caractères */
body { font-family: Bell MT, Cambria; }

/* Positionnement des champs */
p {
  display: inline-block;
  float: center;
  width: 30vw;
}

label {
  display: inline-block;
  float: center;
  width: 15vw;
  text-align: right;
  vertical-align: middle;
  color: rgb(255,255,255);
}

span {
  display: inline-block;
  float: center;
  width: 12vw;
  text-align: left;
  vertical-align: middle;
  color : rgb(255,255,255);
}

.colon {
  width: auto;
}

a {
  color: rgb(255,255,255);
}

/* Mise en forme des différentes sections */

#content {
  display: inline-block;
  vertical-align: middle;
}

#map {
  display: inline-block;
  float: left;
  height: 75vh;
  width: 60vw;
  margin-left: 1vw;
  border-radius: 10px 
  border: 3px solid rgba(255,255,0,1.0)

}

#desc {
  display: inline-block;
  float: left;
  position: center;
  height: 75vh;
  width: 30vw;
  margin-right: 1vw;

  color: rgba(0,0,0,1.0);
  border-radius: 10px solid rgb(255,30,0);
  box-shadow: none;
  background-color: rgba(89, 89, 89, 0.9);
  border:3px solid rgba(169,169,169,1.0);
}

.flag {
  width: 15vw;
}